* {
	padding: 0;
	margin: 0;
	

	font-family: "Microsoft Yahei", Helvetica, sans-serif, Lato;
}

input {
	font-family: "微软雅黑";
	outline: none;
	border: none;
	border-radius: 0px;
	-webkit-appearance: none;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	padding-top: 30px;
	line-height: 24px;
}

.her-top {
	margin: 0 auto;
	max-width: 1200px;
	height: auto;
}

.login>a {
	display: block;
	float: left;
}

.login>span {
	display: block;
	float: left;
	border-left: 1px solid #ccc;
	margin-left: 7px;
	padding-left: 12px;
	margin-top: 7px;
}

.her-right {
	float: right;
	width: 778px;
}

.search {
	display: block;
	width: 778px;
	height: 24px;
}

.search-right {
	background: url(../img/ditu.png) no-repeat;
	margin-left: 18px;
	padding-left: 50px;
	float: right;
	position: relative;
	z-index: 999999;
}

.guoqi {
	width: 24px;
	color: #999;
	font-size: 12px;
	padding-right: 15px;
	padding-left: 7px;
	background: url(../img/jiantou.png) no-repeat right center;
	cursor: pointer;
	text-align: center;
}

.guoqi img {
	display: block;
	margin-top: 3px
}

.search-center {
	width: 134px;
	height: 22px;
	background: #eaeaea;
	position: initial;
	float: right;
	left: 0;
	top: 96px;
	z-index: 99;
}

.tex {
	width: 88px;
	height: 22px;
	padding: 0 10px;
	color: #999;
	font-size: 13px;
	line-height: 22px;
	float: left;
	background: none;
}

.button {
	width: 26px;
	height: 22px;
	float: left;
	background: url(../img/search.png) no-repeat center center;
	cursor: pointer;
}

.search-end {
	float: right;
	position: relative;
	width: 115px;
}

.host {
	color: #999;
	font-size: 12px;
	background: url(../img/jiantou.png) no-repeat right center;
	padding-right: 16px;
	margin-right: 13px;
	cursor: pointer;
}

.nav {
	float: left;
	height: 24px;
	display: block;
	padding-top: 10px;
}

.nav ul li {
	padding-left: 22px;
	padding-right: 22px;
	position: relative;
	height: 33px;
	float: left;
}

.nav ul li a {
	display: block;
	color: #333;
}

.nav ul li:last-child {
	padding-right: 0 !important;
}

.one {
	width: 180px !important;
}

.nav-er {
	display: none;
	position: absolute;
	width: 165px;
	top: 26px;
	z-index: 99;
	padding-bottom: 0px;
}

.nav-er div {
	background: #0d6eb9;
	color: #fff;
}

.nav-er div a {
	color: #fff !important;
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: 31px;
}

.wwnavdrop:hover {
	background: #015198;
}

.wwnavdroplist {
	width: 165px;
	position: absolute;
	left: 165px;
	top: 0;
	border-left: 1px solid #cfd1d3;
	display: none;
	background: #0d6eb9;
	min-height: 100%;
	height: auto;
	z-index: 9999;
}

.wwnavdroplist ul {
	overflow: hidden;
	height: 100%;
}

.wwnavdroplist ul li {
	padding-left: 0;
	float: none;
	height: 40px;
	line-height: 40px;
	text-indent: 31px;
	padding-bottom: 0;
	padding-right: 0;
}

.wwnavdroplist ul li:hover {
	background: #015198;
}

.wwnavdroplist ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

.nav ul li:nth-of-type(7) .nav-er .wwnavdroplist {
	left: -165px;
	border-right: 1px solid #cfd1d3;
	border-left: none;
}

.nav ul li:nth-of-type(8) .nav-er .wwnavdroplist {
	left: -165px;
	border-right: 1px solid #cfd1d3;
	border-left: none;
}

.nav ul li:nth-of-type(8) .nav-er {
	left: -87px;
	width: 165px;
}


/*banner*/

.wwindexbanner {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.wwindexbanner ul {
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.wwindexbanner ul li {
	width: 100%;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	float: left;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	height: 100%;
	position: relative;
}

.wwindexbanner ul li img {
	display: block;
	width: 100%;
}

.wwindexbannerbtn {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 35px;
	z-index: 99;
	text-align: center;
}

.wwindexbannerbtn span {
	width: 70px;
	height: 5px;
	display: inline-block;
	background: #f4f4f6;
	cursor: pointer;
	margin-right: 3px;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
}

.wwindexbannerbtn span.swiper-pagination-bullet-active {
	background: #005197;
}

.wwmain {
	background: #eaeaea;
}

.wwindextit {
	color: #000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
}

.wwindexnews {
	overflow: hidden;
}

.wwindexnews ul {
	padding-top: 20px;
}

.wwindexnews ul li {
	padding-bottom: 20px;
}

.wwindexnews ul li img {
	display: block;
	width: 100%;
}

.wwindexnews ul li a {
	color: #666;
}

.wwindexnews ul li h4 {
	font-size: 14px;
	color: #000;
	padding: 10px 0 5px;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 36px;
	font-weight: bold;
}

.wwindexnews {
	padding-top: 20px;
	padding-bottom: 30px;
	background: #f7f7f7;
}

.wwindexnews ul li p {
	line-height: 22px;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 42px;
}

.wwindexnewmore {
	text-align: center;
}

.wwindexnewmore a {
	display: inline-block;
	background: #005197;
	color: #fff;
	margin: 0 auto;
	padding: 8px 28px;
	font-size: 12px;
}

.wwinproleft {
	background: #005197;
}

.wwprolifirst {
	padding: 30px 30px;
	color: #fff;
	text-align: justify;
}

.wwprolifirst h3 {
	color: #fff;
	font-size: 18px;
	padding-bottom: 10px;
}

.wwprolifirst h3 a {
	color: #fff;
}

.wwprolifirstmore {
	display: block;
	background: #fff;
	color: #005197;
	font-size: 12px;
	padding: 5px 15px;
	display: inline-block;
	margin-top: 18px;
}

.wwprolifirstmore:hover {
	color: #005197;
}

.wwinprodivtext {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	color: #fff;
	padding: 8px 20px 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
}

.wwinprodivtext h3 {
	font-size: 15px;
	margin-bottom: 35px;
	position: relative;
}

.wwinprodivtext h3 a {
	color: #fff;
	display: block;
}

.wwinprodiv {
	position: relative;
	overflow: hidden;
}

.wwinprodivtext h3:after {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	top: 50%;
	right: 0;
	margin-top: -6px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

.wwinprodivtext p {
	padding-right: 270px;
}

.wwinprodivtext .wwprolifirstmore {
	margin-top: 35px;
	padding: 5px 28px;
}

.wwinprodivlast ul li {
	position: relative;
	overflow: hidden;
}

.wwinprodiv img {
	display: block;
	width: 100%;
}

.wwinprodivlast ul {

	
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.wwfamilyimg{ margin-bottom:20px;}
.wwfamilyimg img{ display:block; width:100%;}
.wwinprodivlast ul li .wwinprodivtext p{ padding-right:20px;}


.wwinprodivleft, .wwinprodivright{ position:absolute; top:50%; margin-top:-21px;  width:42px; height:42px;  background:#000; cursor:pointer;}
.wwinprodivleft{ left:0;}
.wwinprodivright{ right:0;}
.wwinprodivleft:hover, .wwinprodivright:hover{background:#005197;}
.wwinprodivleft:after, .wwinprodivright:after{    content: "";position: absolute; width: 8px; height: 8px; border-left: 3px solid #fff; border-top: 3px solid #fff; position: absolute; transform: rotate(135deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); top: 50%; right: 15px; margin: -6px 0 0 -4px;}
.wwinprodivright:after{left: 15px; transform: rotate(135deg); -webkit-transform: rotate(135deg);-moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg);}


.wwserve{ background:url(../img/bg.jpg) repeat;}
.wwserve .wwindextit{ color:#fff;padding-bottom:16px;}
.wwserve .wwindextitcopy{ color:#fff;  font-size:12px; text-align:center; }
.wwserve ul li img{ display:block; width:100%;}
.wwserve ul li a{ color:#fff;}
.wwserve ul li{ padding-bottom:15px; padding-top:15px; font-size:12px; overflow:hidden;}
.indexweb{    padding: 0px 3%;}
.wwserve ul li h3{ padding-top:8px; padding-bottom:1px; font-size:14px}
.wwserve{ padding-top:20px; padding-bottom:20px;}
.wwserve ul{ padding-top:15px;}
.wwpacklist .wwpage{ margin-bottom:30px;}



.wwinnovate{  background:#f7f7f7; padding-top:20px;}
.wwinnoleft{ position:relative; overflow:hidden; padding-top:5px;}
.wwinnoleft ul{ width: 999999px;height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform;transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}

.wwinnoright{ overflow:hidden; position:relative;}
.wwinnoleft ul li{ float:left;}
.wwinnoleft ul li img{ display:block; width:100%;}
.wwinnoleftdiv{ width:100%; position:relative; padding-top:20px; padding-bottom:20px; overflow:hidden;}
.wwinnoright ul{ width:99999px;}
.wwinnoright ul li{ float:left; position:relative; padding-bottom:15px;}
.wwinnoright ul li img{ display:block; width:100%;}
.wwinnoright ul li p{ position:absolute; left:0; bottom:0; width:100%; height:34px; line-height:34px; background:rgba(0,0,0,.5); padding:0 10px; font-size:15px;}
.wwinnoright ul li a{ display:block; position:relative; width:100%; height:100%; color:#fff;}
.wwinnoright ul li p:after{content: ""; position: absolute; width: 8px; height: 8px; border-left: 3px solid #fff; border-top: 3px solid #fff; position: absolute; transform: rotate(135deg);-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-ms-transform: rotate(135deg); -o-transform: rotate(135deg); top: 50%; right: 15px; margin: -4px 0 0 -4px;}
.wwindexhdleft{ overflow:hidden; position:relative;}
.wwindexhdleft ul{ width:99999px}
.wwindexhdleft ul li{ float:left; position:relative; overflow:hidden;}
.wwindexhdleft ul li img{ display:block; width:100%;}
.wwindexhdright{ background:#005197;padding:24px 22px; }
.wwindexhdrightdiv{}
.wwindexhdright h3{ font-size:18px; color:#fff; padding-bottom:15px;}
.wwindexhdright h3 a{color:#fff;}



@media (min-width: 991px)
{
	.wwindexnews{ padding-top:44px; padding-bottom:50px;}
	.wwindexnews ul{ padding-top:39px; margin:0 -15px;}
	.wwindexnews ul li h4{ padding:10px 0 5px;}
	.wwindexnewmore{padding-top:25px;}
	
 	.wwinprodiv{overflow:hidden;}
	.wwinproleft{ width:33.2%; background:#005197;float:left;}
	.wwinproright{ width:100%; float:left;}
	/*wwinprodiv:nth-of-type(3){ width:66.7%;}*/
	.wwinprodivlast ul li{ float:left;width:50%;}
	
	.wwserve{ padding-top:65px;}
	.wwmanage{ margin:38px 0;}
	.wwinnovate ul{ padding-top:35px;}
	.wwinnoright ul{ padding-top:40px;}
	.wwinnoleft{ padding-left:0;}
	.wwinnovate{ padding-top:34px; padding-bottom:40px;}
	.wwinnoright ul li{ padding-left:6px; padding-right:6px; margin-right:0 !important; width:50% !important;}
	.wwinnoleft{ padding-right:6px; padding-right:6px;}
	.wwinnoright{ padding-right:0;padding-left:6px;}
	.wwinnoright ul{ margin:0 -6px; width:auto;}
	.wwserve ul li p{    -webkit-line-clamp:2; height:25px;}
	.wwindexhdleft{ float:left; width:67%;} 
	.wwindexhd{ position:relative; padding-top:0;}
	.wwindexhdright{ float:left; width:33%; background:#005197; height:100%; position:absolute; right:0;}
	.wwinnoleftdiv{ padding-bottom:0; padding-top:0;}
	
	.wwindexhdright h3{ padding-bottom:15px;font-size:22px;}
	.wwindexhdright ul li{ margin-bottom:11px; }
	.wwindexpage .wwpage{ display:inline-block;    padding:2px 28px; color:#005197;}
	.wwindexpage .wwpage span{ background:none; width:auto; height:auto;}
	/*.wwindexpage{ margin-top:50px;}*/
	.wwprolifirst h3{    padding-bottom: 25px; font-size:22px;}
	.wwprolifirstmore{ padding:5px 28px; margin-top:35px;}
	.wwindexpro{ position:relative; padding-left:33.2%;}
	.wwinproleft{  position:absolute; left:0; height:100%;}
	.wwprolifirst{position:absolute; top:50%;    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);}
	.wwindexhonor ul li{ padding-top:20px; padding-bottom:15px; width:25%;border-right:1px solid #d0d0d1;}
	.wwindexhonor h3{ padding-bottom:16px;}
	.wwindexhonor p{ padding-top:6px;line-height: 20px;height: 46px;}
	.wwindexhonor ul li:nth-of-type(2) { border-right:1px solid #d0d0d1;}
	
	.wwindextit{ font-size:22px;}
	.wwindexhonor ul{ padding:0;}
	.wwinnoright .wwinprodivleft{ display:none;}
	.wwinnoright .wwinprodivright{ display:none;}
	.wwindexbannerbtn{ bottom:34px;}
	.wwindexbannerbtn span{ width:70px;}
	.wwinprodiv:nth-of-type(1):hover .wwinprodivtext{ height:100%;}
.wwinprodiv:nth-of-type(1):hover .wwinprodivtext h3:after{transform: rotate(-135deg);-webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg);-o-transform: rotate(-135deg); }
.wwinprodivtext h3 a{ color:#fff;}


.wwinprodivlast ul li:hover .wwinprodivtext{ height:100%;}
.wwinprodivlast ul li:hover .wwinprodivtext h3:after{transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);}	
}
@media (min-width: 767px){
	.wwserve ul li span{display:block; overflow:hidden;}
.wwserve ul li img{ -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s;}
.wwserve ul li img:hover{ -webkit-transform: scale(1.04);-moz-transform: scale(1.04);transform: scale(1.04);}
}
